<% if !logged_in? %>
  <body class="users_new">
<% else %>
  <body>
    <h1 id="header"><small>Enter Details Of New User</small></h1>
<% end %>  
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 col-sm-12 col-xs-12 signup-box1">
        <% if !logged_in? %>
          <div id="text" >
            <p><b>Be great at what you do</b></p>
            <p>Get started - it's free.</p>
          </div>
        <% end %>  
        <div id="form"> 
            <%= form_for @user do |form| %>

              <% if @user.errors.any? %>
                <div id="error_explanation">
                  <h2>
                    <%= pluralize(@user.errors.count, "error")%> prohibited this user from being saved:
                  </h2>
                  <ul>
                    <% @user.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                    <% end %>
                  </ul>
                </div>  
              <% end %>    

              <div class="field">
                <label><%= form.label :Name %></label>
                <%= form.text_field :name, class: "input" %>
              </div>

              <div>
                <label><b><%= form.label :Email %></b></label>
                <%= form.text_field :email, class: "input" %>
              </div>

              <div>
                <label><b><%= form.label :Password %></b></label>
                <%= form.password_field :password, class: "input" %>
              </div>

              <div>
                <label><b><%= form.label :Password_confirmation %></b></label>
                <%= form.password_field :password_confirmation, class: "input" %>
              </div>
              <% if !logged_in? %>
                <div id="form_text">
                  <p>By clicking Join now, you agree to the LinkedIn User Agreement, Privacy Policy, and Cookie Policy.</p>
                </div>
              <% end %>  

              <% if logged_in? %>
                <% if current_user.admin? %>
                  <div>
                    <label><b><%= form.label :Promote_To_Admin %></b></label>
                    <%= form.check_box :admin %>
                  </div>
                <% end %>
              <% end %>
              <% if !logged_in? %>
                <div class="actions"><%= form.submit "Join Now", class: "btn btn-primary btn-block" %></div>
              <% else %>        
                <div class="actions"><%= form.submit "Update", class: "btn btn-primary btn-block" %></div>
              <% end %>  
            <% end %>   
        </div>    
      </div> 
    </div>   
  </div>   
</body>


