<head>
	
</head>
<body>
	<div class="container">
	    <div class="row">
	        <% if current_user.admin? %>
				<div class="search-form pull-right">
					<%= form_tag(users_path, method: :get) do %>
					  <p>
					    <%= text_field_tag :search, params[:search], placeholder: 'search user...' %>
					    <%= submit_tag "Search" %>
					  </p>
					<% end %>
				</div>
			<% end %>
			<% if @users.empty? %>
			  No such user exist
			<% else %>  
				<h1 id="header"><small>Indexing All Users</small></h1>
				<div id="table_scroll">
					<table class="table table-hover table-dark">
					  <tr>
					    <th>Name</th>
					    <th>Sign Up(Date, Time)</th>
					    <th>Last Logged In(Date, Time)</th>
					    <th></th>
					    <th></th>
					    <th></th>
					    <th></th>
					  </tr>  
						<% @users.each do |user| %>
						  <tr>
						  	<td><%= user.name %></td>
						  	<td><%= user.created_at.strftime("%d %b. %Y") %>,<%= user.created_at.strftime("  %H:%M") %></td>
						  	<td><%= user.last_seen_at.strftime("%d %b. %Y") %>,<%= user.last_seen_at.strftime("  %H:%M") %></td>
						  	<td><%= link_to 'Show', user_path(user) %></td>
						  	<td><%= edit_link(edit_user_path(user)) %></td>
						  	<td><%= delete_link(user_path(user)) %></td>
						  	<% if !user.admin? %>
						  	  <td><%= link_to 'Make Admin', users_make_admin_path(u_id: user.id), data: { confirm: "Are you sure?" } %></td>
						  	<% else %>
						  	  <td>Admin</td>  
						  	<% end %>  
						  </tr>	
					    <% end %>
					</table>	
				</div>
			<% end %>	
			<%= link_to new_user_path do %>
			  <button type="button" class="btn btn-outline-light" id="btn">Create New User</button>
			<% end %>
			<%= link_to companies_path do %>
			  <button type="button" class="btn btn-outline-light" id="btn">Index Companies</button>
			<% end %>  
		</div>	
	</div>	
</body>