<div class="container">
	<h1 id="header"><small>User Details</small></h1>
	<div class="row">
	  <div class="col-md-4 col-md-offset-4">
		  <div class="user-details">
			<p>
			  <strong>Name:</strong>
			  <%= @user.name %>
			</p>
			<p>
			  <strong>Email:</strong>
			  <%= @user.email %>
			</p>  
			<p>
			  <strong>Signed Up On:</strong>
			  <%= @user.created_at.strftime("   %d %b. %Y") %>
			</p>
			<p>
			  <strong>Signed Up At:</strong>
			  <%= @user.created_at.strftime("%H:%M") %>
			</p>
			<p>
			  <strong>Last Seen On:</strong>
			  <%= @user.last_seen_at.strftime("   %d %b. %Y") %>
			</p>
			<p>
			  <strong>Last Seen At:</strong>
			  <%= @user.last_seen_at.strftime("%H:%M") %>
			</p>  
		  </div> 	
			<%= link_to edit_user_path(@user) do %>
		      <button type="button" class="btn btn-outline-light" id="btn">
		      <span class='glyphicon glyphicon-pencil'></span>
		        Edit
		      </button> 
		    <% end %>

			<% if current_user.admin? %>
			  <%= link_to users_path do %>
		        <button type="button" class="btn btn-outline-light" id="btn">
		        <span class='glyphicon glyphicon-hand-left'></span>
		        Back
		        </button> 
		      <% end %>
			<% else %>
			  <%= link_to welcome_index_path do %>
		        <button type="button" class="btn btn-outline-light" id="btn">
		        <span class='glyphicon glyphicon-home'></span>
		        Home
		        </button> 
		      <% end %>
			<% end %>    
	  </div>	  
	</div>  	 
</div>	 