<div class="container company-form">
  <%= form_with model: @company, local: true do |form| %>
    <% if @company.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@company.errors.count, "error")%> prohibited this company from being saved:
        </h2>
        <ul>
          <% @company.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <p>
      <%= form.label :Company_Name %>
      <%= form.text_field :name %>
    </p>
    <p>
      <%= form.label :Unique_Id %>
      <%= form.text_field :unique_id %>
    </p>
    <p id="action">
      <%= form.submit %>
    </p>

  <% end %> 
</div>  