<head>
  
</head>
<body class="company-show">
  <div class="container ">
    <div>
        <h1 id="header"><small><%= pluralize_without_count(@company.stocks.count, 'Listing Stock', ':') %></small></h1>
    </div>
    <div>
      <table>
      	<tr>
      		<th>Name</th>
      		<th>Total Stocks</th>
      		<th>Stocks Available</th>
      		<th>Price</th>
          <th></th>
          <% if current_user.admin? %>
            <th></th>
            <th></th>
          <% end %>  
      	</tr>
        <div>
        	<% @company.stocks.each do |stock| %>
          	  <tr>
          	  	<td id="td"><%= stock.name %></td>
          	  	<td id="td"><%= stock.total_stocks %></td>
          	  	<td id="td"><%= stock.stocks_available %></td>
          	  	<td id="td"><%= stock.price %></td>
                <% if current_user.admin? %>
                  <td><%= link_to 'Edit', edit_stock_path(stock), class: 'link-to' %></td> 
          	  	  <td><%= link_to_if stock.total_stocks==stock.stocks_available, 'Delete', stock_path(stock,comp_id: @company) , method: :delete, data: { confirm: 'Are You Sure?' }, class: 'link-to' %></td>
                <% else %>            
                  <% if stock.stocks_available>=1 %>
            	  	  <td><%= link_to 'Buy Stock', new_user_transaction_path( user_id: @current_user.id, stock_id: stock.id), class: 'link-to' %></td>
                  <% else %>
                    <td id="td"><p><i>Stocks Not Available</i></p></td>
                  <% end %>    
                <% end %>  
          	  </tr>
          <% end %>  
        </div>  
      </table>
    </div>  

    <!-- <div class="image"><%#= image_tag image_url('/stocks.jpg') %></div> -->

    <%= link_to companies_path do %>
      <button type="button" class="btn btn-outline-light" id="btn">
      <span class='glyphicon glyphicon-hand-left'></span>
        Back
      </button>  
    <% end %>
    <% if current_user.admin? %>
      <%= link_to new_company_stock_path(@company) do %>
        <button type="button" class="btn btn-outline-light" id="btn">Create Stock</button>
      <% end %> 
    <% end %>  
  </div>
</body>